<div id="overlay"></div>
<div class="flex-column raisedDiv" id="popup">
    <h2>Irreversible Action Started</h2>
    <p>Are you sure you wish to delete this section? Once done it can not be recovered</p>
    <p>If this is a temporary thing you should deactivate the section instead</p>
    <form action="" method="POST" id="deleteForm">
        <button>Delete</button>
    </form>
    <h4 id="cancelPopup">Back</h4>
</div>

<script src="/js/popup.js"></script>