
.menuItem{
    max-height:14vh;
    overflow-y: auto;
    max-width:45vw;
    align-items: flex-start;
}

.menuItem .infoColumn{
    flex:3;
    align-items: flex-start;
    justify-content: flex-start;
    height:100%;
}
.menuItem .infoColumn p{
    margin:0;
    text-align: left;
    font-size: 0.8em;
}
.menuItem .buttonColumn{
    height:100%;
    flex:1;
    justify-content: flex-end;
    align-items: flex-end;
}

.buttonColumn form{
    margin:0;
}

.buttonColumn form button{
    background-color: transparent;
    color:var(--mainColour);
    padding: 0;
    min-width: unset;
    font-size:1em;
}

.buttonColumn form button:hover{
    color:var(--tertiaryColour);
}

.pageRow{
    margin:1rem;
    align-items: flex-start;
    width:100%;
}